<!DOCTYPE html>
<html>
<head>
    <title>User Input</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="{{ url_for('add_user') }}" method="POST">
        <label for="height">Height:</label>
        <input type="text" id="height" name="height"><br><br>
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight"><br><br>
        <label for="food_today">Food Today:</label>
        <input type="text" id="food_today" name="food_today"><br><br>
        <label for="calories_today">Calories Today:</label>
        <input type="text" id="calories_today" name="calories_today"><br><br>
        <label for="carbs">Carbs:</label>
        <input type="text" id="carbs" name="carbs"><br><br>
        <label for="protein">Protein:</label>
        <input type="text" id="protein" name="protein"><br><br>
        <label for="fat">Fat:</label>
        <input type="text" id="fat" name="fat"><br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('users') }}">View All Users</a>
    <br>
    <a href="{{ url_for('food_recognition') }}">Go to Food Recognition</a>
</body>
</html>
