<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>Email: {{ user_info.email }}</p>
    <form action="{{ url_for('main.submit_profile') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user_info.name }}" required><br>
        <input type="hidden" name="token" value="{{ token }}">
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" required><br>
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" required><br>
        <label for="sex">Sex:</label>
        <select id="sex" name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required><br>
        <label for="activity_level">Activity Level:</label>
        <select id="activity_level" name="activity_level">
            <option value="sedentary">Sedentary</option>
            <option value="lightly_active">Lightly Active</option>
            <option value="moderately_active">Moderately Active</option>
            <option value="very_active">Very Active</option>
            <option value="extra_active">Extra Active</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
