<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Account Creation Date</th>
            <th>Food Today</th>
            <th>Calories Today</th>
            <th>Carbs</th>
            <th>Protein</th>
            <th>Fat</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.created_at }}</td>
            <td>{{ user.food_today }}</td>
            <td>{{ user.calories_today }}</td>
            <td>{{ user.carbs }}</td>
            <td>{{ user.protein }}</td>
            <td>{{ user.fat }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
